::placeholder {

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;

	color: rgba(0, 0, 0, 0.3);

	flex: none;
	order: 0;
	flex-grow: 0;
}

.register-body {

	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background:rgba(0,0,0,0.5);
	display: flex;
	align-items: center;
	justify-content: center;
}

.register-container {

	display: flex;
	justify-content: center;
	max-width: 450px;
	height: 750px;
	box-shadow: 0 5px 45px #D5F3EE;
	margin-right: 0 auto;
	top: 15px;

	background: #FFFFFF;
	border-radius: 30px;

}


.register {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	padding: 60px 75px;
}

.register-title {

	/* position: absolute; */
	/* width: 154px;
	height: 29px; */
	display: flex;
	justify-content: center;
	text-align: center;
	width: 100%;
	/* top: 50px; */



	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;

	color: #000000;
}

.register-field {
	margin: auto;

}



/* p {

	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	color: red;



} */


input {

	width: 80%;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0px;
	gap: 10px;

	width: 341px;
	height: 36px;

	background: #D3D3D3;
	border-radius: 30px;

	margin-bottom: 17px;



}

.button {

	box-sizing: border-box;
	font-family: 'Inter';
	font-style: normal;
	font-size: 20px;
	line-height: 24.2px;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 15px 25px;
	gap: 10px;

	width: 341px;
	height: 36px;

	background: #D5F3EE;
	border: 1px solid #000000;
	border-radius: 30px;

	transition: color .2s linear;

}

.button :hover {

	background-color: #0d6cf2;

}